@charset "UTF-8";
/* le code en dessous es le css de header*/
body {
  background-color: #33264E;
  display: grid;
  place-items: center;
}

.header {
  width: 1200px;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  object-fit: cover;
}

.icônes-twitter {
  margin-top: 10px;
  border-radius: 100%;
  background-color: #ff4b5c;
  align-items: center;
  position: relative;
  left: 200px;
}

.icônes-pinterest {
  margin-top: 10px;
  border-radius: 100%;
  background-color: #ff4b5c;
  position: relative;
  left: 200px;
}

.icônes-insta {
  border-radius: 100%;
  background-color: #ff4b5c;
  position: relative;
  left: 200px;
}

.fcbk {
  border-radius: 100%;
  background-color: #ff4b5c;
  position: relative;
  left: 200px;
}

.logo {
  position: relative;
  left: 150px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
}

a {
  text-decoration: none;
  margin: 5px;
  color: white;
  font-family: "Mulish", sans-serif;
}

p, h1, h2, h3, h4, span {
  color: white;
}

#search {
  background-color: #ff4b5c;
  border-radius: 100%;
  width: -2%;
  height: -2%;
  position: relative;
  left: 50px;
}

.trait {
  background-color: white;
  height: 1px;
  width: 75%;
  position: relative;
  top: 60px;
  left: 12%;
}

/* Le code en dessous est le css de mon carrousel*/
.carrousel {
  grid-column: 2;
  grid-row: 1;
  width: 1600px;
  height: 480px;
  background-color: black;
  margin: auto;
  margin-top: 80px;
}

.carre1 {
  background-color: #ff4b5c;
  padding: 1px;
  width: 8px;
  height: 8px;
  position: relative;
  top: 20px;
  margin-left: 8px;
  margin-right: 8px;
  transform: rotate(45deg);
}

.cercle1-container {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

#cercle1 {
  background-color: #28df99;
  border-radius: 100%;
  padding: 1px;
  width: 4px;
  height: 4px;
  position: relative;
  top: 172px;
  right: 5px;
}

.doe {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.para {
  position: relative;
  top: 150px;
}

h1 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px;
}

.john-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px;
}

.bouton1 {
  background-color: #ff4b5c;
  width: 15%;
  height: 8%;
  border: white;
  color: white;
  font-family: "playfair display", regular 400;
  position: relative;
  left: 700px;
  top: 175px;
}

/* pour que je sache que je travaille dans mon SIDEBAR je mets ici en dessous TOUS ce qui concerne mon SIDEBAR */
.sidebar {
  width: 332px;
  grid-column: 1;
  grid-row: 2;
  position: relative;
  left: 400px;
}

h5 {
  color: white;
  margin: 20px;
}

.social {
  margin: 20px;
}

.article1 {
  width: 45%;
  display: block;
  margin-top: 20px;
}

.isole {
  width: 65%;
  position: relative;
  left: 20%;
}

.ligne1 {
  background-color: #ff4b5c;
  height: 2px;
  width: 67%;
  margin: 4px;
  position: relative;
  top: 25px;
}

.ligne2 {
  background-color: #ff4b5c;
  height: 2px;
  width: 50%;
  margin: 4px;
  position: relative;
  top: 25px;
}

.category-container {
  display: flex;
}

.social1-container {
  background-color: #63CDF1;
  display: flex;
  width: 100%;
  height: 50px;
  border: solid white 1px;
  margin-top: 25px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;
}

.social2-container {
  background-color: #507CBE;
  display: flex;
  width: 100%;
  height: 50px;
  border: solid white 1px;
  margin-top: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;
}

.social3-container {
  background-color: #D62976;
  display: flex;
  width: 100%;
  height: 50px;
  border: solid white 1px;
  margin-top: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;
}

.titre1-container {
  display: flex;
}

.titre2-container, .titre3-container {
  display: flex;
  margin-top: 50px;
}

.category-container__item {
  margin: 5px;
}
.category-container__item p::before {
  display: inline-block;
  content: "";
  background-color: #ff4b5c;
  height: 8px;
  width: 8px;
  border: solid white 1px;
  margin: 0 8px;
  transform: rotate(45deg);
}

.para1, .para2, .para3, .para4 {
  margin: 5px;
}

.lescercles1-container {
  display: flex;
  margin-top: 10px;
}
.lescercles1-container .para1::before {
  display: inline-block;
  content: "";
  background-color: yellow;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  border: white;
  margin: 4px;
}
.lescercles1-container .para2::before {
  display: inline-block;
  content: "";
  background-color: #28df99;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  border: white;
  margin: 4px;
}
.lescercles1-container .para3::before {
  display: inline-block;
  content: "";
  background-color: blue;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  border: white;
  margin: 4px;
}

.lescercles2-container {
  display: flex;
}
.lescercles2-container .para4::before {
  display: inline-block;
  content: "";
  background-color: #ff4b5c;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  border: white;
  margin: 4px;
}
.lescercles2-container .para3::before {
  display: inline-block;
  content: "";
  background-color: blue;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  border: white;
  margin: 4px;
}
.lescercles2-container .para2::before {
  display: inline-block;
  content: "";
  background-color: #28df99;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  border: white;
  margin: 4px;
}

/*Le code en dessous est le css de main container*/
.main-container {
  grid-column: 1;
  grid-row: 2;
  width: 800px;
  position: relative;
  right: 200px;
}

.message {
  background-color: #ff4b5c;
  border-radius: 100%;
  margin: 5%;
  width: 30px;
  height: 30px;
  position: relative;
  left: 50px;
}

.partage {
  background-color: #ff4b5c;
  border-radius: 100%;
  margin: 5%;
  width: 30px;
  height: 30px;
  position: relative;
  left: 50px;
}

.main1-container {
  display: flex;
  box-shadow: 1px 1px 1px 1px black;
  margin-top: 50px;
}

.icône-para {
  margin: 20px;
}

.para5::before {
  display: inline-block;
  content: "";
  background-color: #28df99;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border-color: white;
  margin: 4px;
}

.icône1 {
  display: flex;
  justify-content: flex-end;
}

.ecoute {
  display: block;
  width: 43%;
}

.john1-container {
  display: flex;
}

.bouton2 {
  background-color: #ff4b5c;
  padding: 10px;
  width: 17%;
  height: 8%;
  border: white;
  color: white;
  position: relative;
  top: 280px;
}

/*Le code si dessous est le css de mon footer*/
footer {
  width: 100%;
  height: 20px;
  grid-column: 1;
  grid-row: 3;
  height: 15%;
  background-color: #362953;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.made-text {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-evenly;
  position: relative;
  top: 80px;
  left: 200px;
}

.bottom {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.sous-container1 {
  background-color: #362953;
  margin-top: 40px;
}

.sous-container2 {
  margin: 15px;
  position: relative;
  top: 13px;
}

.ligne3 {
  background-color: #ff4b5c;
  height: 2px;
  width: 60%;
  margin: 4px;
  position: relative;
  top: 25px;
}

.titre4-container h3::after {
  display: inline-block;
  content: "";
  background-color: #ff4b5c;
  height: 2px;
  width: 40%;
  margin: 2px;
}

.roll {
  position: relative;
  left: 100px;
}

.roll::after {
  display: inline-block;
  margin: 0 10px;
  content: "";
  width: 0px;
  height: 0px;
  border-right: solid transparent 12px;
  border-left: solid transparent 12px;
  border-bottom: 12px solid #ff4b5c;
}

.trait1 {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  height: 1px;
  width: 90%;
  position: relative;
  top: 50px;
}

.social-footer {
  display: flex;
}

.social-footer1 {
  display: flex;
}

.social-footer2 {
  display: flex;
}

.bouton3 {
  background-color: #ff4b5c;
  padding: 10px;
  width: 25%;
  height: 20%;
  border: white;
  color: white;
  font-family: "playfair display", regular 400;
  position: relative;
  top: 10px;
}

/*Le code en dessous est le css des sans appartenance*/
.cercle2-container {
  display: flex;
  justify-content: center;
}

.cercle2 {
  border-radius: 75%;
  border: solid white 1px;
  padding: 1px;
  margin: 5px;
  width: 16px;
  height: 12px;
}

.cercle3 {
  background-color: #ff4b5c;
  border-radius: 100%;
  padding: 1px;
  width: 12px;
  height: 12px;
  margin: 5px;
}

.cercle4 {
  background-color: #ff4b5c;
  border-radius: 100%;
  padding: 1px;
  width: 12px;
  height: 12px;
  margin: 5px;
}

/* Les codes en dessous sont les css de l'article(la 2eme page*/
/*Le code en dessous est le css de mon header*/
/*le bout de code en dessous est pour les icônes de la page article */
.header-article {
  width: 1200px;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 50px;
}

.icônes-twitter-article {
  margin-top: 10px;
  border-radius: 100%;
  background-color: #ff4b5c;
  align-items: center;
  position: relative;
}

.icônes-pinterest-article {
  margin-top: 10px;
  border-radius: 100%;
  background-color: #ff4b5c;
  position: relative;
}

.icônes-insta-article {
  border-radius: 100%;
  background-color: #ff4b5c;
  position: relative;
}

.fcbk-article {
  border-radius: 100%;
  background-color: #ff4b5c;
  position: relative;
}

#search-article {
  background-color: #ff4b5c;
  border-radius: 100%;
  width: -2%;
  height: -2%;
  position: relative;
  right: 100px;
}

.trait-article {
  background-color: white;
  height: 1px;
  width: 100%;
  position: relative;
  top: 120px;
}

.nav-container-article {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  left: 45px;
}

/* le bout de code pour le main container */
.main-container-article {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  right: 200px;
  top: 150px;
}

.ecoute-article {
  display: block;
  width: 786px;
  height: 491px;
}

.main1-container-article {
  display: flex;
  position: relative;
  right: 100px;
  top: 350px;
}

.message-article {
  background-color: #ff4b5c;
  border-radius: 100%;
  margin: 15%;
  width: 50%;
  height: 50%;
  position: relative;
  bottom: 15px;
  left: 50px;
}

.partage-article {
  background-color: #ff4b5c;
  border-radius: 100%;
  margin: 15%;
  width: 50%;
  height: 50%;
  position: relative;
  bottom: 15px;
  left: 50px;
}

.icône-para-article {
  margin: 20px;
}

.titre-article {
  margin-top: 50px;
}
.titre-article p::before {
  display: inline-block;
  content: "";
  background-color: #28df99;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border-color: white;
  margin: 4px;
}
.titre-article h1 {
  position: relative;
  bottom: 350px;
  right: 480px;
}

.icône1-article {
  display: flex;
  justify-content: flex-end;
}

.doe-article {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.carre1-article {
  background-color: #ff4b5c;
  padding: 1px;
  width: 8px;
  height: 8px;
  position: relative;
  top: 20px;
  margin-left: 8px;
  margin-right: 8px;
  transform: rotate(45deg);
}

.text-container-article {
  position: relative;
  top: 100px;
  right: 350px;
}

.john1-container-article {
  display: flex;
}

/*le bout de code en dessous est pour le sidebar et le trait pour la page article*/
.sidebar-article {
  width: 332px;
  grid-column: 1;
  grid-row: 2;
  position: relative;
  bottom: 1500px;
  left: 850px;
}

/*# sourceMappingURL=main.css.map */
