/* le code en dessous es le css de header*/

body{
  width: 1200px;
  background-color:#33264E;
}
img{
  object-fit: cover;
}
.icônes-twitter{
  margin-top: 10px;
  margin: 5px;
  border-radius: 100%;
  background-color: #ff4b5c;
}
.icônes-pinterest{
  margin-top: 10px;
  margin: 5px;
  border-radius: 100%;
  background-color: #ff4b5c;
}
.icônes-insta{
  margin: 5px;
  border-radius: 100%;
  background-color: #ff4b5c;
}
.fcbk{
  margin: 5px;
  border-radius: 100%;
  background-color: #ff4b5c;
}

.logo{
  position: relative;
  right: 4%;
}
.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  left: 150px;
}
a{
  text-decoration: none;
  margin: 8px;
  color: white;
  font-family: 'Mulish', sans-serif;
}
p, h1, h2, h3, h4, span{
  color: white;
}
.image1{
position: relative;
right: 18%;
}
#search{
  background-color: #ff4b5c;
  border-radius: 100%;
  width: -2%;
  height: -2%;
  position: relative;
  left: 15%;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  position: relative;
  left: 150px;
}
.trait{
  background-color:white;
  height: 1px;
  width: 75%;
  position: relative;
  left: 25%;
  top: 60px;
}

/* Le code en dessous est le css de mon carrousel*/

.carrousel{
  width: 1400px;
  height: 480px;
background-color: black;
margin: 50px;
position: relative;
top: 80px;
}
.carre1{
  background-color: #ff4b5c;
padding: 1px;
width: 4px;
height: 4px;
position: relative;
top: 24px;
margin-left: 6px;
margin-right: 6px;
}
.cercle1-container{
  display: flex;
  justify-content: center;
  align-content: space-between;
}
#cercle1{
  background-color: #28df99;
  border-radius: 100%;
padding: 1px;
width: 4px;
height: 4px;
position: relative;
top: 172px;
right: 5px;
}
.doe{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.para{
  position: relative;
  top: 150px;
}
h1{
  position: relative;
  top: 150px;
}
h1{
  display: flex;
  justify-content: center ;
}
.john-container{
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px;
}
.bouton1{
background-color: #ff4b5c;
width: 15%;
height: 8%;
border:white;
color: white;
font-family:"playfair display",regular 400;
position: relative;
left: 600px;
top: 175px;
}



/* pour que je sache que je travaille dans mon SIDEBAR je mets ici en dessous TOUS ce qui concerne mon SIDEBAR */

.sidebar{
  width: 332px;
  position: relative;
  left: 950px;
  top: 100px;
}
h5{
  color: white;
  margin: 20px;
}
.social{
  margin: 20px;
}
.article1{
  width: 45%;
  display: block;
  margin-top: 20px;
}
.isole{
  width: 65%;
  height: 65%;
  position: relative;
  left: 20%;
}
.ligne1{
  background-color: #ff4b5c;
  height: 2px;
  width: 67%;
  margin: 4px;
  position: relative;
  top: 25px;
}
.ligne2{
  background-color: #ff4b5c;
  height: 2px;
  width: 50%;
  margin: 4px;
  position: relative;
  top: 25px;
}
.category-container{
  display: flex;
}
.social1-container{
  background-color:#63CDF1;
  display: flex;
  width: 100%;
  height: 50px;
  border: solid white 1px;
  margin-top: 25px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;
}
.social2-container{
  background-color: #507CBE;
  display: flex;
  width: 100%;
  height: 50px;
  border: solid white 1px;
  margin-top: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;
}
.social3-container{
  background-color: #D62976;
  display: flex;
  width: 100%;
  height: 50px;
  border: solid white 1px;
  margin-top: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;
}
.titre1-container{
  display: flex;
}
.titre2-container, .titre3-container{
  display: flex;
  margin-top: 50px;
}
.category-container__item{
  margin: 5px;
p::before{
    display: inline-block;
    content: "";
    background-color: #ff4b5c;
    height: 6px;
    width: 6px;
    border: solid white 1px;
    margin: 0 5px 0 5px;
}
}
.para1, .para2, .para3, .para4{
  margin: 5px;
}
.lescercles1-container{
  display: flex;
  margin-top: 10px;
  .para1::before{
    display: inline-block;
    content:"";
    background-color: yellow;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    border: white;
    margin: 4px;
  }
  .para2::before{
    display: inline-block;
    content:"";
    background-color:#28df99;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    border: white;
    margin: 4px;
  }
  .para3::before{
    display: inline-block;
    content:"";
    background-color:blue;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    border: white;
    margin: 4px;
  }
}
.lescercles2-container{
display: flex;
.para4::before{
  display: inline-block;
  content:"";
  background-color:#ff4b5c;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  border: white;
  margin: 4px;
}
.para3::before{
  display: inline-block;
  content:"";
  background-color:blue;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  border: white;
  margin: 4px;
}
.para2::before{
  display: inline-block;
  content:"";
  background-color:#28df99;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  border: white;
  margin: 4px;
}
}
.titre2-container{
  display: flex;
}
.titre3-container{
  display: flex;
}

/*Le code en dessous est le css de main container*/

.main-container{
  width: 800px;
}
.main1-container{
  display: flex;
  border: solid  5px lightslategray;
}
.icône-para{
display: flex;
margin: 10px;
}
.text-container{
  margin-top: 20px;
}
.icône1{
  display: flex;
}
.ecoute{
  width: 45%;
  display: block;
}
.john1-container{
  display: flex;
}


/*Le code en dessous est le css des sans appartenance*/

.cercle2-container{
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  left: 150px;
}
.cercle2{
  border-radius: 75%;
  border: solid white 1px;
padding: 1px;
margin: 5px;
width: 16px;
height: 12px;
}
.cercle3{
  background-color: #ff4b5c;
  border-radius: 100%;
padding: 1px;
width: 12px;
height: 12px;
margin: 5px;
}
.cercle4{
  background-color: #ff4b5c;
  border-radius: 100%;
padding: 1px;
width: 12px;
height: 12px;
margin: 5px;
}